name: Publish Packages

on:
  push:
    tags:
      - v**

permissions:
  contents: read

jobs:
  publish:
    name: Publish packages
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: pnpm

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build project
        run: pnpm build

      - name: Publish packages
        run: pnpm publish -r --no-git-checks

      - name: Sync npmmirror
        run: pnpm release:sync
